<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ SITENAME }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="theme-color" content="#a463f2" />
  <link rel="manifest" href="/manifest.json" />
  <link href="/css/tailwind.min.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  {% block head %}
  {% endblock %}
</head>
<body>
  <div class="p-2 pt-12 font-sans leading-normal">
    <div class="px-2">
      <div class="sm:flex -mx-2 h-12">
        <div class="w-1/5 px-12">
          <a href="/" class="text-purple text-2xl font-bold">
            {{ SITENAME }}
          </a>
          <ul class="list-reset mb-8 pt-6">
          {% for title, link in MENUITEMS %}
            <li>
              <a href="{{ link }}">{{ title }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="w-100 xl:w-1/2 md:w-3/5 sm:w-4/5 px-12">
        {% block content %}
        {% endblock %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>