{% extends "base.html" %}
{% block content %}
<h2 class="text-2xl font-bold mb-2">Welcome!</h2>

<p class="text-lg mb-3">I'm Marcus Crane, a <a class="dashed-anchor" target="_blank" href="https://en.wikipedia.org/wiki/Site_Reliability_Engineering">Site Reliability Engineer</a> at <a class="dashed-anchor" target="_blank" href="https://xero.com/nz/">Xero</a> in <a class="dashed-anchor" target="_blank" href="https://en.wikipedia.org/wiki/Auckland">Auckland, New Zealand.</a></p>

<p class="text-lg mb-3">This site acts as my portfolio but more importantly, it's my own little playground on the web!</p>

<p class="text-lg mb-3">Heck, you can even view the source right <a class="dashed-anchor" target="_blank" href="https://github.com/marcus-crane/utf9k">here.</a></p>

<p class="text-lg mb-3">I'm around the web in a bunch of places:</p>

<a class="no-underline" target="_blank" rel="noreferrer" href="https://github.com/marcus-crane">
    <button class="bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded">Github</button>
</a>
<a class="no-underline" target="_blank" rel="noreferrer" href="https://instagram.com/sentryism">
    <button class="bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded">Instagram</button>
</a>
<a class="no-underline" target="_blank" rel="noreferrer" href="https://linkedin.com/in/marcus-crane">
    <button class="bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded">Linkedin</button>
</a>
<a class="no-underline" target="_blank" rel="noreferrer" href="https://twitter.com/sentreh">
    <button class="bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded">Twitter</button>
</a>
{% endblock %}
{% block last_deploy %}{{ last_deployed }}{% endblock %}