{% if DEFAULT_PAGINATION %}
<div class="inline-flex">
  {% if articles_page.has_previous() %}
    <a href="/{{ articles_previous_page.url }}">
      <button class="bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded-l">
        Prev
      </button>
    </a>
  {% endif %}
  {% if articles_page.has_next() %}
    <a href="/{{ articles_next_page.url }}">
      <button class="bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded-l">
        Next
      </button>
    </a>
  {% endif %}
</div>
{% endif %}
