---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/Base.astro";
import ProjectList from "../components/ProjectList.astro";

const projects = await getCollection("projects");
---

<BaseLayout title="Projects" description="Check out a handful of side projects that I'm quite proud of">
  <main>
    <header>
      <h1>Projects</h1>
    </header>
    <ProjectList projects={projects} />
  </main>
</BaseLayout>
