---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/Base.astro";
import ProjectList from "../components/ProjectList.astro";

const projects = await getCollection("projects");
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <header>
      <h1>Projects</h1>
    </header>
    <ProjectList projects={projects} />
  </main>
</BaseLayout>
