---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/Base.astro";
import ReviewList from "../components/ReviewList.astro";

const reviews = await getCollection("reviews");
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <header>
      <h1>Reviews</h1>
    </header>
    <ReviewList reviews={reviews} />
  </main>
</BaseLayout>
