---
layout: layouts/base.njk
title: Blog
permalink: /blog/
---

<main>
  <header>
    <h1>Posts</h1>
  </header>
  <ul>
    {% for year, yearPosts in collections.blogPostsByYear | reverse %}
      <h2>{{ year }}</h2>
      {# TODO: Replace this with a Nunjucks filter #}
      {% for post in yearPosts | reverse %}
        <li>
          <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% endif %}</a>
          <time>{{ post.date | dateFmt("MMM dd") }}</time>
        </li>
      {% endfor %}
    {% endfor %}
</ul>
</main>