---
layout: layouts/base.njk
permalink: /questions/
---

<main>
  <header>
    <h1>Answers to questions I'll soon forget</h1>
    <form id="search" role="search">
      <label for="search-input">I'm curious about </label>
      <input disabled type="search" id="search-input" class="search-input bg-gray-100">
      <label class="text-red-500" id="error-output"></label>
    </form>
  </header>
  <ul>
    {%- for post in (collections.questions | reverse) %}
    <li id="{{ post.data.slug }}" class="question">
        <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% endif %}</a>
        {%- for tag in post.tags %}<span>#{{ tag }}</span>{% endfor %}
    </li>
    {%- endfor %}
  </ul>
</main>

<script type="text/javascript" src="{{ '/js/question-search.js' | url }}"></script>