---json
{
  "permalink": "rss.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "utf9k,
    "subtitle": "Posts about technology and other bits and pieces",
    "url": "https://utf9k.net/",
    "feedUrl": "https://utf9k.net/feed.xml",
    "author": {
      "name": "Marcus Crane",
      "email": "marcus@utf9k.net"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <description>{{ metadata.subtitle }}</description>
    <language>en</language>
    {%- for post in collections.blog | reverse %}
        {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
        <item>
            <title>{{ post.data.title }}</title>
            <link>{{ absolutePostUrl }}</link>
            <description>{{ post.description }}</description>
            <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
            <dc:creator>{{ metadata.author.name }}</dc:creator>
            <guid>{{ absolutePostUrl }}</guid>
            <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
        </item>
    {%- endfor %}
  </channel>
</rss>
