{{ define "main" }}
  <div class="page-title">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}<div class="desc">{{ . }}</div>{{ end }}
  </div>

  {{ with .Content }}
  <div class="content content-spaced">
    {{ . }}
  </div>
  {{ end }}

  {{ $pages := .Pages }}
  {{ if .IsHome }}
    {{ $pages = where site.RegularPages "section" "blog" | first 10 }}
  {{ end }}

  {{ range $pages.GroupByParam "ongoing" "desc" }}
  <div class="list-group">
    <div class="group-label">{{ if .Key }}Ongoing{{ else }}Archived{{ end }}</div>
    <div class="post-table">
      {{ range .Pages }}
      <!-- TODO: Figure out a better way to handle this override? -->
      <div class="post-row" style="grid-template-columns: 1fr;">
        <a class="post-link" href="{{ .RelPermalink }}">
          {{ .Title }}
          <span class="arrow">»</span>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
{{ end }}