---
title: Games
---

{{ layout "core.vto" }}
<article>
    <header>
      <h1>Manga</h1>
    </header>
    <div id="post-body">
        <p>To be revived in a bit</p>
    </div>
  </article>
{{ /layout }}