---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const reviews = await getCollection('reviews');
  return reviews.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
    <h1>{entry.data.title}</h1>
    <h2>{entry.data.date}</h2>
    <hr />
    <div>
        <Content />
    </div>
</Layout>