{{ define "main" }}
  <h2 class="blog-header">{{ .Title }}</h2>
  <p>{{ dateFormat "Jan 2, 2006" .Date }} // <mark>{{ .ReadingTime }} minutes</mark></p>
  <div id="content">
    {{ .Content }}
    <label class="label label-rounded label-primary label-review">Developer: {{ .Params.Developer }}</label>
    <label class="label label-rounded label-primary label-review">Publisher: {{ .Params.Publisher }}</label>
    <label class="label label-rounded label-primary label-review">{{ .Params.Released }}</label>
    {{ range .Params.Platforms }}
      <label class="label label-rounded label-primary label-review">{{ . }}</label>
    {{ end }}
  </div>
{{ end }}
