<footer class="footer">
  <div class="footer-content">
    <!-- TODO: Move into site config -->
    <div class="footer-section">
      <h3>RSS Feeds</h3>
      <a href="/rss.xml">Blog</a>
    </div>
    <div class="footer-section">
      <h3>Other Places</h3>
      <a href="https://backloggd.com/u/utf9k/">Backloggd</a>
      <a href="https://github.com/marcus-crane">GitHub</a>
      <a href="https://trakt.tv/users/sentry">Trakt</a>
    </div>
    <div class="footer-section">
      <h3>Archives</h3>
      <a href="{{ absURL "/reviews" }}">Reviews</a>
    </div>
  </div>
</footer>
