<!DOCTYPE html>
<html lang="en">
<head>
  {{ include "partials/head.vto" }}
</head>
<body>
  {{ include "partials/nav.vto" }}
  <div id="content">
    {{ content }}
  </div>
  <div id="fullscreen"></div>
  <script type="module">
    import "/js/image-viewer.js"
  </script>
</body>
</html>