<!DOCTYPE html>
<html lang="en">
<head>
  {{ include "partials/head.vto" }}
</head>
<body{{ if it.bodystyle }} style="{{ it.bodystyle }}"{{ /if }}>
  {{ content }}
  {{# TODO: Import CSS #}}
  <script src="https://unpkg.com/littlefoot@4.0.1/dist/littlefoot.js" type="text/javascript"></script>
  <script type="text/javascript">
    littlefoot.littlefoot() // Pass any littlefoot settings here.
  </script>
  <div id="fullscreen"></div>
  <script src="/js/image-viewer.js"></script>
</body>
</html>