<ul>
{% for year, yearPosts in collections.blogPostsByYear %}
  <h2>{{ year }}</h2>
  {% for post in yearPosts | reverse %}
    <li>
      <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% endif %}</a>
      <time>{{ post.date | dateFmt }}</time>
    </li>
  {% endfor %}
{% endfor %}
<h2>Drafts</h2>
<details>
  <summary>You should prod me to finish these!</summary>
  <ul>
    <li>Nothing yet</li>
  </ul>
</details>
</ul>
