<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ if it.title }}{{ it.title }} |{{ /if }} utf9k</title>

  <meta name="theme-color" content="#eaebe3" media="(prefers-color-scheme: light)" />
  <meta name="theme-color" content="#1f2738" media="(prefers-color-scheme: dark)" />
  <meta name="author" content="Marcus Crane" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

  <link rel="canonical" href="https://utf9k.net{{ it.url }}" />
  <link rel="preconnect" href="https://cdn.utf9k.net" />
  <link rel="sitemap" href="/sitemap.xml" />
  <link rel="icon" type="image/png" href="/favicon.png" sizes="16x16">
  <link rel="apple-touch-icon" href="/favicon.png">
  <link rel="me" href="mailto:hello@utf9k.net" />
  <link rel="me" href="https://mastodon.nz/@utf9k" />
  <link rel="me" href="https://twitter.com/sentreh" />
  <link rel="me" href="https://github.com/marcus-crane" />
  <link rel="webmention" href="https://webmention.io/utf9k.net/webmention" />
  <link rel="pingback" href="https://webmention.io/utf9k.net/xmlrpc" />
  <link rel="alternate" type="application/rss+xml" title="utf9k" href="/rss.xml" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  >
</head>
<body>
  <main class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="/">
            <img src="/favicon.png" alt="utf9k" width="16px" height="16px" />
            <strong>utf9k</strong>
          </a>
        </li>
      </ul>
      <ul>
        <li><a href="/blog/">Blog</a></li>
        <span>//</span>
        <li><a href="/projects/">Projects</a></li>
        <span>//</span>
        <li><a href="/about/">About</a></li>
        <span>//</span>
        <li><a href="/questions/">Questions</a></li>
        <span>//</span>
        <li><a href="/rss.xml">RSS</a></li>
      </ul>
    </nav>
    <article>
      <h1>{{ title }}</h1>
      <div id="post-body">
        {{ content }}
      </div>
    </article>
  </main>
</body>
</html>