a {
  text-decoration: none;
  color: #3490dc;
  background-color: transparent;
}

a:hover {
  color: #1c3d5a;
}

.dashed-anchor {
  border-bottom: 1px dotted grey;
}

#content p {
  padding-bottom: 1rem;
}

#content {
  padding-bottom: 1rem;
}

textarea {
  min-height: 250px;
}

/* Table styles (should be made into a plugin later) */

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th {
    font-size: .875rem;
    font-weight: 600;
}

tbody {
    vertical-align: baseline;
}

td {
    white-space: nowrap;
    font-size: .75rem;
    color: #794acf;
    border-top-width: 1px;
}

/* Code styles */
#content > p > code {
    background-color: #DAEAF8;
    border-radius: 4px;
    color: #3490dc;
    font-size: 90%;
    padding: 2px 4px;
    white-space: pre;
}

.highlight {
    padding-bottom: 1rem;
}

.highlight pre {
    background-color: #3f3f3f;
    border: 0;
    border-radius: 4px;
    display: block;
    font-size: 15px;
    margin: 0 0 12px;
    overflow-x: auto;
    padding: 1em;
}