---
import type { CollectionEntry } from 'astro:content';

interface Props {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props;
---

<div>
  <ul>
    {posts.map(p => <li><a href={`/${p.collection}/${p.slug}`}>{p.data.title}</a></li>)}
  </ul>
</div>
