{{ define "main" }}
<article class="mx-auto prose dark:prose-dark">
  <header>
    <h1>{{ .Title }}</h1>
    <div class="text-gray-500 text-xs font-medium uppercase tracking-wide pt-2">
      <time datetime="{{ .Date }}">{{ if .Draft }}This is an unpublished draft{{ else }}{{ .Date.Format "January 2, 2006" }}{{ end }}</time> {{ if .Draft }} · <time datetime="{{ .Date }}">Last modified {{ .Lastmod.Format "January 2, 2006" }}{{ end }}</time> · Around {{ .ReadingTime }} minute{{ if ne .ReadingTime 1 }}s{{ end }}
    </div>
  </header>
  <div id="post-body">
    {{ .Content }}
  </div>
</article>
{{ end }}

{{ define "json+ld" }}
{{ if eq .Draft false }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-00:00" }}"
}
</script>
{{ end }}
{{ end }}