<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
  {{ block "json+ld" . }}{{ end }}
</head>
<body>
  {{ partial "header.html" . }}
  {{ block "main" . }}{{ end }}
  {{ $littleFootJs := resources.Get "js/littlefoot.js" }}
  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $littleFootJs.RelPermalink }}"></script>
  {{ else }}
  {{ $minLittleFootJs := $littleFootJs | minify | fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $minLittleFootJs.RelPermalink }}" integrity="{{ $minLittleFootJs.Data.Integrity }}"></script>
  {{ end }}
  <script type="text/javascript">littlefoot.default()</script>
</body>
</html>
