{{ define "main" }}
<main class="prose dark:prose-dark">
  <h1>{{ .Title }}</h1>
  <ul>
    {{ $years := .Scratch }}
    {{ range where (where .Pages "Section" "questions") "Draft" false }}
    {{ $year := .Date.Format "2006" }}
    {{ if not (in ($years.Get "years") $year) }}
      <h2>{{ .Date.Format "2006" }}</h2>
      {{ $years.Add "years" (slice $year) }}
    {{ end }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <time>{{ .Date.Format "Jan 02" }}</time>
    </li>
    {{ end }}
  </ul>
  {{ $draftsExist := (where .Pages "Draft" true) }}
  {{ if $draftsExist }}
  <h2>Drafts</h2>
  <details>
    <summary>You should prod me to finish these!</summary>
    <ul>
    {{ range sort (where .Pages "Draft" true) "Title" "asc" }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
    </ul>
  </details>
  {{ end }}
</main>
{{ end }}
