{{ define "main" }}
  <div class="page-title">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}<div class="desc">{{ . }}</div>{{ end }}
  </div>

  {{ with .Content }}
  <div class="content content-spaced">
    {{ . }}
  </div>
  {{ end }}

  {{ $pages := .Pages }}
  {{ if .IsHome }}
    {{ $pages = where site.RegularPages "section" "blog" | first 10 }}
  {{ end }}

  {{ range $pages.GroupByDate "2006" }}
  <div class="list-group">
    <div class="group-label">{{ .Key }}</div>
    <div class="post-table">
      {{ range .Pages }}
      <div class="post-row">
        <div class="post-date">{{ .Date.Format "Jan 02" }}</div>
        <div class="post-link">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <span class="arrow">»</span>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
{{ end }}