{{ define "main" }}
<article class='{{ if not (isset .Params "noproseclass") }}prose lg:prose-xl dark:prose-dark{{ end }}'>
  <div class='{{ if isset .Params "noproseclass" }}prose lg:prose-xl dark:prose-dark mb-12{{ end }}'>
    <h1>{{ .Title }}</h1>
  </div>
  {{ .Content }}
</article>
{{ end }}

{{ define "script" }}
  {{ $targetPath := "js/thanks.js" }}
  {{ $defines := dict "process.env.NODE_ENV" `"production"` }}
  {{ $opts := dict "targetPath" $targetPath "defines" $defines }}
  {{ $built := resources.Get $targetPath | js.Build $opts | fingerprint }}
  <script type="text/javascript" src="{{ $built.RelPermalink }}" integrity="{{ $built.Data.Integrity }}" defer></script>
{{ end }}
