---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Base.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <article>
    <header>
      <h1>{entry.data.title}</h1>
    </header>
    <div id="post-body">
      <Content />
    </div>
  </article>
</Layout>

<script>
  import littlefoot from "littlefoot";

  littlefoot()
</script>