/* General resets */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
  --text-light: #d0d1c7;
  --text-dark: #1e1e1e;
  --bg-light: #eaebe3;
  --bg-dark: #1f2738;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 4rem clamp(3rem, 1rem, 5rem);
  min-height: 100vh;
  display: grid;
  line-height: 1.5;
  justify-content: center;
  background: var(--bg-light);
  color: var(--text-dark);
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--bg-dark);
    color: var(--text-light);
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

input, button, textarea, select {
  font: inherit;
}

/* Typography */

a {
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

header h1 {
  font-size: 1em;
  font-weight: 500;
}

header img {
  width: 2em;
  height: 2.667em;
}

h2 {
  font-weight: 500;
  font-size: clamp(1.5rem, 1rem + 1.25vw, 2rem);
}

footer a {
  text-decoration: none;
}

svg {
  height: 1.25rem;
  width:  1.25rem;
}

/* Homepage */

#home-wrapper {
  display: grid;
  gap: clamp(1rem, 4rem, 10rem);
}

#welcome-message {
  grid-column: 1;
}

#welcome-message p {
  padding-bottom: 1rem;
  max-width: 20rem;
}

#recent-updates {
  grid-column: 2;
  text-align: center;
}

#recent-updates #cover {
  border-radius: 5px;
  margin: .3rem auto;
  width: 9.4rem;
  height: auto;
}

#recent-updates #post-stream {
  margin-top: 1rem;
}

#recent-updates hr {
  border-radius: 10px;
  border-style: solid;
  border-width: 1.7px;
  margin: 1.2rem auto;
  width: 10rem;
}

#post-stream li {
  list-style: none;
  text-align: center;
}

/* Live player */

#liveplayer {
  opacity: 0;
}

/* Footer */

footer, footer img, footer p, footer svg {
  opacity: 0;
}
