---
interface Props {
  title: string;
  description?: string;
  bodystyle?: string;
}

const { title, description, bodystyle } = Astro.props;

import Head from "../components/Head.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title={title} description={description} />
  </head>
  <body style={bodystyle}>
    <slot />
    <script>
      import littlefoot from "littlefoot";
    
      littlefoot()
    </script>
    <div id="fullscreen"></div>
    <script>
      import "../js/image-viewer";
    </script>
  </body>
</html>
