---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/Core.astro";
import Posts from "../components/PostList.astro";

const posts = await getCollection("blog");
---

<BaseLayout title="Posts I've written" description="Here you can find all of the blog posts I've hand crafted over the years">
  <main>
    <header>
      <h1>Posts I've written</h1>
    </header>
    <Posts posts={posts} />
  </main>
</BaseLayout>
