---
import BaseLayout from "../layouts/Core.astro";
---

<BaseLayout title="Debug" description="Introspecting utf9k one angle at a time">
  <main>
    <header>
      <h1>Reports that help me to debug utf9k</h1>
    </header>
    <ul>
      <li>
        <a href="/debug/build-information">Build Information</a>
      </li>
    </ul>
  </main>
</BaseLayout>