<header class="navigation">
  <a href="/" id="logo">
    <img src="/favicon.png" alt="utf9k" width="16px" height="16px">
    <span>utf9k</span>
  </a>
  <nav>
    <li><a href="/about">about</a></li>
  </nav>
</header>
