{{ define "style" }}
  {{ if .Params.includes_css }}
    {{ $targetPath := (print "css/" .Slug ".css") }}
    {{ $extraStyles := resources.Get $targetPath | postCSS }}
    {{ if .Site.IsServer }}
      <link rel="stylesheet" href="{{ $extraStyles.RelPermalink }}" />
    {{ else }}
      {{ $styles := $extraStyles | minify | fingerprint | resources.PostProcess }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" />
    {{ end }}
  {{ end }}
{{ end }}

{{ define "main" }}
{{ end }}

{{ define "script" }}
  {{ if .Params.includes_js }}
    {{ $targetPath := (print "js/" .Slug ".js") }}
    {{ $defines := dict "process.env.NODE_ENV" `"production"` }}
    {{ $opts := dict "targetPath" $targetPath "defines" $defines }}
    {{ $built := resources.Get $targetPath | js.Build $opts }}
  <script type="text/javascript" src="{{ $built.RelPermalink }}" defer></script>
  {{ end }}
{{ end }}
