---
---

<header class="navigation">
  <div id="logo">
    <a href="/">
      <img src="/favicon.png" alt="utf9k" width="16px" height="16px" />
      <span>utf9k</span>
    </a>
  </div>
  <nav>
    <li><a href="/blog/">Blog</a></li>
    <span>//</span>
    <li><a href="/projects/">Projects</a></li>
    <span>//</span>
    <li><a href="/about/">About</a></li>
    <span>//</span>
    <li><a href="/questions/">Questions</a></li>
    <span>//</span>
    <li><a href="/rss.xml">RSS</a></li>
  </nav>
</header>