---
interface Props {
  emoji: string;
  title: string;
}

const { emoji, title } = Astro.props;
---

<div class="notice">
  <hr class="hidden" />
  <h3>
    <span>{emoji}</span>
    {title}
  </h3>
  <slot />
  <hr class="hidden" />
</div>
