<style>
  :root {
    --blueish: #1f303e;
    --greyish: #e0e1d9;
  }
  
  html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", Arial, sans-serif;
  }
  
  /* Colour schemes */
  
  @media (prefers-color-scheme: light) {
    body {
      background-color: var(--greyish);
      color: var(--blueish);
    }
    
    h1, h2, h3, h4, h5, h6, p, a {
      color: var(--blueish);
    }
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--blueish);
      color: var(--greyish);
    }
    
    h1, h2, h3, h4, h5, h6, p, a {
      color: var(--greyish);
    }
  }
  
  body {
    padding-left: 2rem; // TODO: make this the default level of indentation
    padding-top: .5rem;
  }
  
  /* Grouping items */
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style-type: none;
  }
  
  li:before {
    //content: "‣";
  }
  
  /* Typography */
  
  a {
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 800;
  }
  
  h1:before {
    content: "፡ ";
  }
  
  
  p {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  blockquote {
    border-left: 4px solid;
    margin-left: 0px;
    margin-top: 2rem;
    padding-left: 1rem;
    width: 100%;
  }
  
  article > code {
    border: 1px solid;
    border-radius: 3px;
    margin-top: 1rem;
    padding: 1rem;
  }
  
  code {
    font-size: 1.15rem;
    font-family: monospace;
  }
  
  blockquote > p {
    font-size: 1.5rem; // TODO: could be a little smaller?
  }
  
  blockquote > i {
    font-size: .9rem;
  }
  
  time {
    font-size: .75rem;
  }
</style>
