<div class="hidden p-6 overflow-y-auto md:block">
  <div class="w-full flex flex-col items-center">
    <a href="/" class="flex-shrink-0 flex flex-col items-center">
      <img class="h-8 w-auto mb-1" src="/favicon.png" alt="utf9k">
      <span class="text-xl font-medium title-font">utf9k</span>
    </a>

    <div class="flex-1 mt-6 w-full space-y-1">
      <!-- Current: "bg-indigo-800 text-white", Default: "text-indigo-100 hover:bg-indigo-800 hover:text-white" -->
      <a href="/blog" class="text-gray-500 dark:text-gray-400 hover:bg-indigo-800 hover:text-white group w-full p-2 flex flex-col items-center text-xs font-medium">
        <span>Blog</span>
      </a>

      <a href="/questions" class="text-gray-500 dark:text-gray-400 hover:bg-indigo-800 hover:text-white group w-full p-2 flex flex-col items-center text-xs font-medium">
        <span>Questions</span>
      </a>

      <a href="/games" class="text-gray-500 dark:text-gray-400 hover:bg-indigo-800 hover:text-white group w-full p-2 flex flex-col items-center text-xs font-medium" aria-current="page">
        <span>Games</span>
      </a>

      <a href="/books" class="text-gray-500 dark:text-gray-400 hover:bg-indigo-800 hover:text-white group w-full p-2 flex flex-col items-center text-xs font-medium" aria-current="page">
        <span>Books</span>
      </a>

      <a href="/projects" class="text-gray-500 dark:text-gray-400 hover:bg-indigo-800 hover:text-white group w-full p-2 flex flex-col items-center text-xs font-medium" aria-current="page">
        <span>Projects</span>
      </a>

      <a href="/reviews" class="text-gray-500 dark:text-gray-400 hover:bg-indigo-800 hover:text-white group w-full p-2 flex flex-col items-center text-xs font-medium" aria-current="page">
        <span>Reviews</span>
      </a>

      <a href="/uses" class="text-gray-500 dark:text-gray-400 hover:bg-indigo-800 hover:text-white group w-full p-2 flex flex-col items-center text-xs font-medium" aria-current="page">
        <span>Uses</span>
      </a>

      <a href="/thanks" class="text-gray-500 dark:text-gray-400 hover:bg-indigo-800 hover:text-white group w-full p-2 flex flex-col items-center text-xs font-medium" aria-current="page">
        <span>Thanks</span>
      </a>

      <a href="/about" class="text-gray-500 dark:text-gray-400 hover:bg-indigo-800 hover:text-white group w-full p-2 flex flex-col items-center text-xs font-medium">
        <span>About</span>
      </a>

      <a href="/now" class="text-gray-500 dark:text-gray-400 hover:bg-indigo-800 hover:text-white group w-full p-2 flex flex-col items-center text-xs font-medium">
        <span>Now</span>
      </a>

      <a href="/experiments" class="text-gray-500 dark:text-gray-400 hover:bg-indigo-800 hover:text-white group w-full p-2 flex flex-col items-center text-xs font-medium" aria-current="page">
        <span>Experiments</span>
      </a>

      <a href="/debug" class="text-gray-500 dark:text-gray-400 hover:bg-indigo-800 hover:text-white group w-full p-2 flex flex-col items-center text-xs font-medium">
        <span>Debug</span>
      </a>
    </div>
  </div>
</div>

<!--
  Mobile menu

  Off-canvas menu for mobile, show/hide based on off-canvas menu state.
-->
<div class="fixed inset-0 z-40 flex md:hidden" role="dialog" aria-modal="true">
  <!--
    Off-canvas menu overlay, show/hide based on off-canvas menu state.

    Entering: "transition-opacity ease-linear duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "transition-opacity ease-linear duration-300"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-600 bg-opacity-75" aria-hidden="true"></div>

  <!--
    Off-canvas menu, show/hide based on off-canvas menu state.

    Entering: "transition ease-in-out duration-300 transform"
      From: "-translate-x-full"
      To: "translate-x-0"
    Leaving: "transition ease-in-out duration-300 transform"
      From: "translate-x-0"
      To: "-translate-x-full"
  -->
  <div class="relative max-w-xs w-full bg-indigo-700 pt-5 pb-4 flex-1 flex flex-col">
    <!--
      Close button, show/hide based on off-canvas menu state.

      Entering: "ease-in-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in-out duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="absolute top-1 right-0 -mr-14 p-1">
      <button type="button" class="h-12 w-12 rounded-full flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-white">
        <!-- Heroicon name: outline/x -->
        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
        <span class="sr-only">Close sidebar</span>
      </button>
    </div>

    <div class="flex-shrink-0 px-4 flex items-center">
      <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=white" alt="Workflow">
    </div>
    <div class="mt-5 flex-1 h-0 px-2 overflow-y-auto">
      <nav class="h-full flex flex-col">
        <div class="space-y-1">
          <!-- Current: "bg-indigo-800 text-white", Default: "text-indigo-100 hover:bg-indigo-800 hover:text-white" -->
          <a href="#" class="text-indigo-100 hover:bg-indigo-800 hover:text-white group py-2 px-3 rounded-md flex items-center text-sm font-medium">
            <!--
              Heroicon name: outline/home

              Current: "text-white", Default: "text-indigo-300 group-hover:text-white"
            -->
            <svg class="text-indigo-300 group-hover:text-white mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
            <span>Home</span>
          </a>

          <a href="#" class="text-indigo-100 hover:bg-indigo-800 hover:text-white group py-2 px-3 rounded-md flex items-center text-sm font-medium">
            <!-- Heroicon name: outline/view-grid -->
            <svg class="text-indigo-300 group-hover:text-white mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
            </svg>
            <span>All Files</span>
          </a>

          <a href="#" class="bg-indigo-800 text-white group py-2 px-3 rounded-md flex items-center text-sm font-medium" aria-current="page">
            <!-- Heroicon name: outline/photograph -->
            <svg class="text-white mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            <span>Photos</span>
          </a>

          <a href="#" class="text-indigo-100 hover:bg-indigo-800 hover:text-white group py-2 px-3 rounded-md flex items-center text-sm font-medium">
            <!-- Heroicon name: outline/user-group -->
            <svg class="text-indigo-300 group-hover:text-white mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            <span>Shared</span>
          </a>

          <a href="#" class="text-indigo-100 hover:bg-indigo-800 hover:text-white group py-2 px-3 rounded-md flex items-center text-sm font-medium">
            <!-- Heroicon name: outline/collection -->
            <svg class="text-indigo-300 group-hover:text-white mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
            </svg>
            <span>Albums</span>
          </a>

          <a href="#" class="text-indigo-100 hover:bg-indigo-800 hover:text-white group py-2 px-3 rounded-md flex items-center text-sm font-medium">
            <!-- Heroicon name: outline/cog -->
            <svg class="text-indigo-300 group-hover:text-white mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
            <span>Settings</span>
          </a>
        </div>
      </nav>
    </div>
  </div>

  <div class="flex-shrink-0 w-14" aria-hidden="true">
    <!-- Dummy element to force sidebar to shrink to fit close icon -->
  </div>
</div>