<div class="hidden p-6 overflow-y-auto md:block">
  <div class="w-full flex flex-col items-center">
    <a href="/" class="flex-shrink-0 flex flex-col items-center">
      <img class="h-6 w-auto mb-1" src="/favicon.png" alt="utf9k">
      <span class="text-md font-medium title-font">utf9k</span>
    </a>

    <div class="flex-1 mt-6 w-full space-y-1">
      <!-- Current: "bg-indigo-800 text-white", Default: "text-indigo-100 hover:bg-indigo-800 hover:text-white" -->
      <ul>
        {{ range .Site.Menus }}
          {{ range . }}
            <li>
              <a href="{{ .URL }}" class="text-gray-500 dark:text-gray-400 hover:bg-indigo-800 hover:text-white group w-full p-2 flex flex-col items-center text-xs font-medium" aria-current="page">
              <span>{{ .Name }}</span>
              </a>
            </li>
          {{ end }}
          <div class="w-full border-t border-gray-300"></div>
        {{ end }}
      </ul>
    </div>
  </div>
</div>

<!--
  Mobile menu

  Off-canvas menu for mobile, show/hide based on off-canvas menu state.
-->
<div class="hidden fixed inset-0 z-40 flex md:hidden" role="dialog" aria-modal="true">
  <!--
    Off-canvas menu overlay, show/hide based on off-canvas menu state.

    Entering: "transition-opacity ease-linear duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "transition-opacity ease-linear duration-300"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-600 bg-opacity-75" aria-hidden="true"></div>

  <!--
    Off-canvas menu, show/hide based on off-canvas menu state.

    Entering: "transition ease-in-out duration-300 transform"
      From: "-translate-x-full"
      To: "translate-x-0"
    Leaving: "transition ease-in-out duration-300 transform"
      From: "translate-x-0"
      To: "-translate-x-full"
  -->
  <div class="relative max-w-xs w-full bg-indigo-700 pt-5 pb-4 flex-1 flex flex-col">
    <!--
      Close button, show/hide based on off-canvas menu state.

      Entering: "ease-in-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in-out duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="absolute top-1 right-0 -mr-14 p-1">
      <button type="button" class="h-12 w-12 rounded-full flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-white">
        <!-- Heroicon name: outline/x -->
        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
        <span class="sr-only">Close sidebar</span>
      </button>
    </div>

    <div class="flex-shrink-0 px-4 flex items-center">
      <img class="h-6 w-auto mr-2" src="/favicon.png" alt="Workflow">
      <span class="text-indigo-100 text-md font-medium title-font">utf9k</span>
    </div>
    <div class="mt-5 flex-1 h-0 px-2 overflow-y-auto">
      <nav class="h-full flex flex-col">
        <ul>
          {{ range .Site.Menus }}
            {{ range . }}
              <li>
                <a href="{{ .URL }}" class="text-indigo-100 hover:bg-indigo-800 hover:text-white group py-2 px-3 rounded-md flex items-center text-sm font-medium" aria-current="page">
                <span>{{ .Name }}</span>
                </a>
              </li>
            {{ end }}
            <div class="w-full border-t border-gray-300"></div>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>

  <div class="flex-shrink-0 w-14" aria-hidden="true">
    <!-- Dummy element to force sidebar to shrink to fit close icon -->
  </div>
</div>