{{ define "main" }}
<article class="mx-auto prose dark:prose-dark">
    <header>
        <h1>404 Not Found</h1>
    </header>
    <div>
      <p>Sorry folks but it seems that URL is not a valid page?</p>
      <p>Perhaps you'd like to go back <a href="/">to the beginning?</a></p>
      <p>Alternatively, check this out:</p>
	  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
		<iframe src="https://www.youtube.com/embed/C7xyoPqYkYM" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="Capybara fun"></iframe>
	  </div>
    </div>
</article>
{{ end }}
