{{ define "main" }}
<article>
  <div id="home-wrapper">
    <div id="welcome-message">
    <h1>Welcome!</h1>
    {{ .Content }}
    <hr />
    </div>
    <div id="recent-updates">
      <div id="liveplayer">
        <h3 id="action"></h3>
        <img src="https://i.scdn.co/image/ab67616d0000b273a1a897ee5e642da6d945bcd7" id="cover">
        <strong id="source"></strong>
        <br />
        <i id="title"></i>
        <br />
        <i id="elapsed"></i> / <i id="duration"></i>
      </div>
      <hr />
      <div id="post-stream">
        <h3>Recent updates</h3>
        <ul>
        {{ range first 5 .Site.RegularPages }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
        </ul>
      </div>
    </div>
  </div>
</article>
{{ end }}

{{ define "script" }}
  {{ $targetPath := "js/live-player.js" }}
  {{ $defines := dict "process.env.NODE_ENV" `"production"` }}
  {{ $opts := dict "targetPath" $targetPath "defines" $defines }}
  {{ $built := resources.Get $targetPath | js.Build $opts | fingerprint }}
  <script type="text/javascript" src="{{ $built.RelPermalink }}" integrity="{{ $built.Data.Integrity }}" defer></script>
{{ end }}
