{{ define "main" }}
<div id="content">
  <p>Hey there</p>
  <p>I'm Marcus, and this is my personal site.</p>
  <p>There's a few bits and pieces: mainly my blog content but also other writings floating around</p>

  <h2>Some recent blog posts</h2>
  <ul class="no-list-style">
    {{ $paginator := .Paginate (where site.RegularPages "Section" "blog") 5 }}
    {{ range $paginator.Pages }}
    <li>
      <span>{{ .Date.Format "2006-01-02" }}</span>
      //
      <a href="{{ .RelPermalink }}">
        <span>{{ .Title }}</span>
      </a>
      <span class="tag-list">
      {{ range .Params.tags }}
      <a href="/tags/{{ . }}">#{{ . }}</a>
      {{ end }}
      </span>
    </li>
    {{ end }}
    <a href="/blog/">> View all</a>
{{ end }}
