{{ define "main" }}
  {{ partial "inline-header.html" . }}

  {{ if .Params.showTitle | default true }}
  <div class="article-header">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}<div class="desc">{{ . }}</div>{{ end }}
    {{ if or .Date .Params.tags }}
    <div class="article-meta">
      {{ with .Date }}<div><span class="meta-label">Published</span><span class="meta-value">{{ .Format "2006-01-02" }}</span></div>{{ end }}
      {{ with .Params.tags }}<div><span class="meta-label">Tags</span>{{ range . }}<span class="meta-value">{{ . }}</span>{{ end }}</div>{{ end }}
    </div>
    {{ end }}
  </div>
  {{ end }}

  <div class="article-wrapper">
    <article class="content">
      {{ partial "settings-sidebar.html" . }}
      {{ .Content }}
    </article>
  </div>
{{ end }}