{{ define "main" }}
  <div class="article-header">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}<div class="desc">{{ . }}</div>{{ end }}
  </div>

  {{ with .Content }}
  <div class="list-content">
    {{ . }}
  </div>
  {{ end }}

  {{ $dateFormat := .Params.dateFormat | default "Jan 02" }}
  {{ $dateGroupFormat := .Params.groupByDateFormat | default "2006" }}
  {{ $pages := where site.RegularPages "Section" .Section }}

  {{ range $pages.GroupByDate $dateGroupFormat }}
  <section data-group="{{ .Key }}">
    <h2>{{ .Key }} <small>{{ len .Pages }} bookmark{{ if ne (len .Pages) 1 }}s{{ end }} saved</small></h2>
    <ul role="list">
      {{ range .Pages }}
      {{ $host := "" }}
      {{ with .Params.link }}{{ $host = (urls.Parse .).Host }}{{ end }}
      {{ $tags := .Params.tags | default slice }}
      <li>
        <article>
          <h3><a href="{{ .Params.link }}" rel="noopener external">{{ .Title }}</a></h3>
          {{ with .Params.description }}<p>{{ . }}</p>{{ end }}
          <footer>
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format $dateFormat }}</time>
            <span>{{ $host }}</span>
            {{ with $tags }}<ul role="list">{{ range . }}<li>{{ . }}</li>{{ end }}</ul>{{ end }}
          </footer>
        </article>
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
{{ end }}
