{% extends "base.html" %}
{% block content %}
<div class="mt0 fn fl-ns w-60-ns">
  <h3 class="mt0 mb2 lh-title">Games</h3>
  <div class="dib stats-block mb3 ml0-ns nowrap overflow-x-auto">
  {% if games %}
    {% for game in games %}
      <div class="dib">
        <a class="mw5 black link dim" title="Game link" href={{ game.link }}>
          <img class="entry db ba b--black-10" alt="Game cover" src={{ game.image }}>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">Game</dt>
            <dd class="ml0 fw9">{{  game.name }} ({{ game.year }})</dd>
            <dt class="clip">Platform</dt>
            <dd class="ml0 gray">{{ game.platform }}</dd>
          </dl>
        </a>
      </div>
    {% endfor %}
  {% else %}
    <p>No game data</p>
  {% endif %}
  </div>
  <h3 class="mt0 mb2 lh-title">Movies</h3>
  <div class="dib stats-block mb3 ml0-ns nowrap overflow-x-auto">
  {% if movies %}
    {% for movie in movies %}
      <div class="dib">
        <a class="mw5 black link dim" title="Movie link" href={{ movie.link }}>
          <img class="entry db ba b--black-10" alt="Movie cover" src={{ movie.image }}>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">Title</dt>
            <dd class="ml0 fw9">{{  movie.name }}</dd>
            <dt class="clip">Year</dt>
            <dd class="ml0 gray">{{ movie.year }}</dd>
          </dl>
        </a>
      </div>
    {% endfor %}
  {% else %}
    <p>No game data</p>
  {% endif %}
  </div>
  <h3 class="mt3 mb2 lh-title">Music</h3>
  <div class="dib stats-block ml0-ns nowrap overflow-x-auto">
    {% if tracks %}
      {% for track in tracks %}
        <div class="dib">
          <a class="mw5 black link dim" title="Album link" href={{ track.link }}>
            <img class="db ba b--black-10" alt="Album cover" src={{ track.image }}>
            <dl class="mt2 f6 lh-copy">
              <dt class="clip">Title</dt>
              <dd class="ml0 fw9">{{  track.name }}</dd>
              <dt class="clip">Artist</dt>
              <dd class="ml0 gray">{{ track.artist }}</dd>
            </dl>
          </a>
        </div>
      {% endfor %}
    {% else %}
      <p>No music data</p>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block last_deploy %}{{ last_deployed }}{% endblock %}