beautifulsoup4==4.13.5
certifi==2024.12.14
charset-normalizer==3.4.3
idna==3.10
pillow==11.1.0
PyYAML==6.0.2
requests==2.32.5
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
soupsieve==2.6
urllib3==2.3.0
