{{ define "main" }}
<main>
  <header>
    <h1>Answers to questions I'll soon forget</h1>
    <form id="search" role="search">
      <label for="search-input">I'm curious about </label>
      <input disabled type="search" id="search-input" class="search-input bg-gray-100">
      <label class="text-red-500" id="error-output"></label>
    </form>
  </header>
  <ul>
    {{ $systemColors := slice
      "lightpink"
      "blueviolet"
      "fuchsia"
      "indigo"
      "darkviolet"
      "mediumvioletred"
      "salmon"
      "plum"
      "tomato"
      "orange"
      "darkkhaki"
      "royalblue"
      "deepskyblue"
      "lightseagreen"
      "turquoise"
      "chocolate"
      "brown"
      "goldenrod"
      "burlywood"

    }}
    {{ range sort .Pages "Lastmod" "desc" }}
    <li id="{{ .Slug }}" class="question">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ range .Params.tags }}
        {{ $hash := (crypto.FNV32a .) }}
        {{ $i := mod $hash (len $systemColors) }}
        <span style="color: {{ index $systemColors $i }}">#{{ . }}</span>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}

{{ define "script" }}
  {{ $targetPath := (print "js/question-search.js") }}
  {{ $defines := dict "process.env.NODE_ENV" `"production"` }}
  {{ $opts := dict "targetPath" $targetPath "defines" $defines }}
  {{ $built := resources.Get $targetPath | js.Build $opts | fingerprint }}
  <script type="text/javascript" src="{{ $built.RelPermalink }}" integrity="{{ $built.Data.Integrity }}" defer></script>
{{ end }}
