{{ define "main" }}
<main class="contact-page">
  <h1>{{ .Title }}</h1>
  {{ range $.Site.Data.social }}
    <div class="social-category">
      <h2 class="social-heading">{{ .name }}</h2>
      <div class="social-row">
        {{ range .entries }}
        <div class="checkerbox image-box social-logo">
          {{ if .logo }}<img src="/contact/logos/{{ .logo }}" />{{ end }}
          <span class="social-link">
            {{ if .link }}
              <a href="{{ .link }}">{{ .username }}</a>
            {{ else }}
              <p>{{ .username }}</p>
            {{ end }}
          </span>
        </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
</main>
{{ end }}
