<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }} | utf9k</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
    <link rel="stylesheet" href="https://unpkg.com/dracula-prism/dist/css/dracula-prism.min.css">
  </head>
  <body>
    {% include 'partials/header.njk' %}
    <div id="content">
      {{ content | safe }}
    </div>
  </body>
</html>
