---
title: Welcome!
layout: layouts/base.njk
---

<article class="full">
  <div id="home-wrapper">
    <div id="welcome-message">
      <center>
        <header>
          <h1>Welcome!</h1>
        </header>
        {{ content | safe }}
      </center>
      <hr />
      <center>
        <header>
          <h3>Here's a random(ly generated) thought</h3>
        </header>
        <p>{{ gags | random }}</p>
      </center>
      <hr />
      <div id="post-stream">
        <center>
          <header>
            <h3>
              <a href="/books">Books I'm *ahem* paging through</a>
            </h3>
          </header>
          <ul>
            {% for book in books[0].books %}
              {% if book.progress != 100 %}
              <li style="display: inline-block">
                <a href="{{ book.link }}">
                  {% set alt = "A cover photo of the book titled " + book.title %}
                  <img src="{{ book.cover }}" alt="{{ alt }}" height="180px" style="border-radius: 3px;" />
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </center>
      </div>
      <hr />
    </div>
    <div id="recent-updates">
      <div id="liveplayer">
        <h3 id="action">😵‍💫 This widget should load shortly!</h3>
        <img src="/cover.png" id="cover">
        <strong id="title">Fingers Crossed</strong>
        <br />
        <i id="subtitle">It should update if things aren't broken</i>
        <br />
          <div id="progress">
            <i id="elapsed">00:00</i> / <i id="duration">59:59</i>
          </div>
      </div>
      <hr />
      <div id="post-stream">
        <h3>Recently updated pages</h3>
        <ul>
          {%- for post in (collections.post | reverse).slice(0, 5) %}
          <li>
            <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% endif %}</a>
          </li>
          {%- endfor %}
        </ul>
      </div>
      <hr />
      <center>
        <div id="post-stream">
          <header>
            <h3>Games I'm (slowly) progressing through</h3>
          </header>
          <ul>
            {% for game in games[0].games %}
            <li style="display: inline-block">
              <a href="{{ game.link }}">
                {% set alt = "Box art for the game called " + book.title %}
                <img src="{{ game.cover }}" alt="{{ alt }}" height="180px" style="border-radius: 3px;" />
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </center>
      <hr />
    </div>
  </div>
</article>
<!-- Curious how my live player works? Check out the unminified source here: https://github.com/marcus-crane/utf9k/blob/main/assets/js/live-player.js -->
<script type="text/javascript" src="{{ '/js/live-player.js' | url }}"></script>
