---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article>
  <header>
    <h1>{{ title }}</h1>
  </header>
  <div id="post-body">
    {{ content | safe }}
  </div>
</article>

<script type="text/javascript" src="/js/footnotes.js"></script>