---
import Layout from "./Core.astro";

interface Frontmatter {
  title: string;
  description?: string;
  category: string;
  lastmod: string;
  tags: string[];
}

interface Props {
  frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <article>
    <header>
      <h1>{frontmatter.title}</h1>
      <div id="post-meta">
        {
          frontmatter.lastmod !== undefined && (
            <time datetime={new Date(frontmatter.lastmod).toUTCString()}>
              Last updated on
              {new Date(frontmatter.lastmod).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </time>
          )
        }
      </div>
    </header>
    <div id="post-body">
      <slot />
    </div>
  </article>
</Layout>
