{{ range $.Site.Data.books.library }}
  <h4>{{ .list }}</h4>
  {{ range .books }}
  <article class="flex p-4 space-x-4">
    <img class="flex-none w-18 h-18 rounded-lg object-cover bg-gray-100" src="{{ .cover }}" width="72" height="72" />
    <div class="min-w-0 relative flex-auto sm:pr-20 lg:pr-0 xl:pr-20">
      <h2 class="text-base sm:text-lg lg:text-base xl:text-lg font-semibold text-black mb-0.5 truncate">{{ .title }}</h2>
      <dl class="flex flex-wrap text-sm font-medium whitespace-pre">
        <div class="absolute top-0 right-0 rounded-full bg-amber-50 text-amber-900 px-2 py-0.5 hidden sm:flex lg:hidden xl:flex items-center space-x-1">
          <dt class="text-amber-500">
            <span class="sr-only">Rating</span>
          </dt>
          <dd>{{ .rating }}</dd>
        </div>
        <div>
          <dt class="sr-only">Date finished</dt>
          <dd>
            <abbr>{{ .date_finished }}</abbr>
          </dd>
        </div>
        <div class="flex-none w-full mt-0.5 font-normal">
          <dt class="inline">By</dt>
          <dd class="inline text-black">{{ .author }}</dd>
        </div>
      </dl>
    </div>
  </article>
  {{ end }}
{{ end }}