{{ if .Site.Data.fancylinks }}
  {{ $inner := string .Inner }}
  {{ $metadata := (index .Site.Data.fancylinks $inner) }}</p>

  {{ if $metadata }}
  <div class="rounded-xl space-y-2 border-4 dark:border-black py-4 px-6">
    <a style="text-decoration: none;" href="{{ .Inner }}" class="no-underline">
      <div class="min-w-0 flex-auto space-y-0.5">
        <p style="margin: 0;" class="text-lime-600 text-sm font-light">
          <img src="{{ $metadata.favicon_url }}" style="min-width: 16px; max-width: 16px; margin-top: 0; margin-bottom: 0;" height="16" width="16" class="inline-block bg-gray-100 mr-1" />
          {{ $inner }}
        </p>
        <p class="text-black dark:text-white text-md font-semibold">
          {{ $metadata.title }}
        </p>
      </div>
    </a>
  </div>
  {{ else }}
  <a href="{{ .Inner }}">{{ .Inner }}</a>
  {{ end }}
{{ else }}
<a href="{{ .Inner }}">{{ .Inner }}</a>
{{ end }}
