name: Deploy (Preview)
on:
  push:
    branches:
      - 2026-redesign
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      deployments: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11.0"
          cache: 'pip'
      - name: Generate metadata and build site
        run: ./ci/deploy.sh
      - name: Publish to Bunny Edge CDN
        uses: ayeressian/bunnycdn-storage-deploy@v2.4.1
        with:
          source: "public"
          storageZoneName: "utf9k-next"
          storagePassword: "${{ secrets.BUNNY_STORAGE_PASSWORD_NEXT }}"
          storageEndpoint: "syd.storage.bunnycdn.com"
          accessKey: "${{ secrets.BUNNY_GLOBAL_API_KEY }}"
          pullZoneId: "${{ secrets.BUNNY_PULL_ZONE_ID_NEXT }}"
          upload: "true"
          purgePullZone: "true"
