name: Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:
  workflow_run:
    workflows: [Audit Links, External Sync, Obsidian Sync]
    types:
      - completed
jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      deployments: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11.0"
          cache: 'pip'
      - name: Generate metadata and build site
        run: ./ci/deploy.sh
      - name: Publish to Bunny Edge CDN
        uses: ayeressian/bunnycdn-storage-deploy@v2.4.5
        with:
          source: "public"
          storageZoneName: utf9k
          storagePassword: "${{ secrets.BUNNY_STORAGE_PASSWORD }}"
          accessKey: "${{ secrets.BUNNY_GLOBAL_API_KEY }}"
          pullZoneId: "${{ secrets.BUNNY_PULL_ZONE_ID }}"
          upload: "true"
          purgePullZone: "true"
